*,
html {
    margin: 0;
    padding: 0;
}

body {
  background-color: rgb(218, 237, 246);
}

.countainer-navbar {
  background-color: rgb(170, 97, 201);
  width: 100%;
  height: 120px;
  
}

.ul-navbar {
  display: flex;
  background-color: rgb(77, 77, 192);
  color: white;
  height: 120px;
  align-items: center;
  justify-content: center;

}

.li-navbar {
  border: 4px solid rgb(255, 255, 255);
  list-style-type: none;
  padding: 25px;
  color: white;
}